body
{
  margin: auto;
  max-width: 60rem;
  background-color : rgb(160,160,160);
  overflow : scroll;
}

header
{
padding-top: 2em;
}


.navi
{
padding-top : 10em;

}


header img
{
float : right;		
border-style : none;
}	



h1
{
float: left;
padding-left : 5em;
padding-top : 0.5em;
font-size : 250%;
}

h2
{
font-style : italic;
font-size : 30%;
}

.navi ul
{
margin : 0;
padding: 0;
background-color: rgb(66, 50, 39);
overflow: hidden;
list-style-type: none;

}

.navi li 
{
float: left;
}

.navi li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.navi a:hover
{
background-color: rgb(113, 217, 224);
}

header a:hover
{
background-color : white;
}

a:focus
{
background-color : green;
}

.barreRecherche
{
padding-top : 0.75em;
padding-left: 27.8em;
}	

.aPropos 
{
padding-left: 0.5em;
}


.formulaire1 table
{
padding-top : 1em;
padding-bottom: 1em;
padding-left : 2em;
display : block;
background-color : white;
border-style : solid;
border-width : 2px
}

.formulaire2 table
{
padding-top : 1em;
padding-bottom: 1em;
padding-left : 2em;
display : block;
background-color : white;
border-style : solid;
border-width : 2px;
}

.accept
{
margin-top : 1em;
}

.footer 
{
   position: fixed;
   z-index: 1;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
